.bg1 {
    background: url("background/bg1.jpg");
}

.bg2 {
    background: url("background/bg2.jpg");
}


.character_image {
    background: url("img/stick_man.png");
}
.queue_item{
    background: url("img/stick_man_small.png");
}

.spell.hit {
    background: url("img/hit.png") no-repeat;
}




.character_image.beast{
    background: url("monsters/beast.png");
}
.queue_item.beast{
    background: url("monsters/beast_small.png");
}

.character_image.spider{
    background: url("monsters/spider.png");
}

.queue_item.spider{
    background: url("monsters/spider_small.png");
}

.map_cell.monster {
    background: url("img/monster.png");
}

.map_cell.npc {
    background: url("img/npc.png");
}

.map_cell.heal_fountain {
    background: url("img/npc.png");
}

.map_cell.no_vision{
    background: #000000;
}